/**
 * ----------------------------------------------------------------------------------------
 * Utility
 * ----------------------------------------------------------------------------------------
 */
@mixin float-left {
  float: left;
}
@mixin float-right {
  float: right;
}


 .text-left {
    text-align: left;
 }

 .text-right {
    text-align: right;
 }

 .text-center {
    text-align: center;
 }

 .align-left {
    @include float-left;
 }

 .align-right {
    @include float-right;
 }

 .clearfix {
   overflow: hidden;
   *zoom: 1;
 }

 .col-equal {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
 }

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
